<%- include ('../partials/header') %> <%- include ('../partials/menu') %> 
<div class="col"><%- include ('../partials/message') %></div>
<main>
  <style>
    body {font-family: Arial, Helvetica, sans-serif;}
    
    /* The Modal (background) */
    .modal {
      display: none; /* Hidden by default */
      position: fixed; /* Stay in place */
      z-index: 1; /* Sit on top */
      padding-top: 100px; /* Location of the box */
      left: 0;
      top: 0;
      width: 100%; /* Full width */
      height: 100%; /* Full height */
      overflow: auto; /* Enable scroll if needed */
      background-color: rgb(0,0,0); /* Fallback color */
      background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    }
    
    /* Modal Content */
    .modal-content {
      background-color: #fefefe;
      margin: auto;
      padding: 20px;
      border: 1px solid #888;
      width: 80%;
    }
    
    /* The Close Button */
    .close {
      color: #aaaaaa;
      float: right;
      font-size: 28px;
      font-weight: bold;
    }
    
    .close:hover,
    .close:focus {
      color: #000;
      text-decoration: none;
      cursor: pointer;
    }
    .modal-content-div{
        display: flex;
        flex-direction: row;
        align-items: center;
        margin: auto;
    }
    .name-img{
        display: flex;
        flex-direction: column;
    }
    .pfpimg{
        width: 400px;
        height: 400px;
    }
    .info{
        display: flex;
        flex-direction: column;
        padding-left: 20px;
    }
    
    </style>
              <body>

  <div class="container">
    <table class="table">
        <tr>
            <th>PEOPLE</th>
        </tr>
        <% 
        // Sort the results array by age, with priority given to matching age
        const sortedResults = results.sort((a, b) => {
          const ageDifferenceA = Math.abs(a.dob.age - preferences.age_range);
          const ageDifferenceB = Math.abs(b.dob.age - preferences.age_range);

          if (ageDifferenceA === ageDifferenceB) {
            // If age difference is the same, prioritize younger users
            return a.dob.age - b.dob.age;
          }

          // Sort by proximity to preferences.age_range
          return ageDifferenceA - ageDifferenceB;
        });
        
        sortedResults.forEach(result => { 
      %>
      <% if (((result.dob.age === preferences.age_range) || (preferences.age_range >= 18 && preferences.age_range <= 21 && result.dob.age > preferences.age_range && result.dob.age <= preferences.age_range + 5) || (preferences.age_range > 21 && result.dob.age > preferences.age_range - 3 && result.dob.age <= preferences.age_range + 5)) && (preferences.sex === result.gender || preferences.sex === 'No Preference')) { %>
        <tr>
              <td><%= result.name.first %></td>
              <td>
                <button class="openModalBtn" data-user-id="<%= result.user_id %>" onclick="openModal('<%= result.name.first %>', '<%= result.name.last %>', '<%= result.dob.age %>', '<%= result.location.city %>', '<%= result.location.country %>', '<%= result.gender %>', '<%= result.picture.large %>', '<%= result.email %>')">See User</button>
              </td>
                  <!-- Trigger/Open The Modal -->
                  
      <!-- //results.foreach(r.gend) -->
                  <!-- The Modal -->
                  <div id="myModal" class="modal">
                      <!-- Modal content -->
                      <div class="modal-content">
                          <span class="close" data-user-id="<%= result.user_id %> ">&times;</span>
                          <div class="modal-content-div">
                              <div class="name-img">
                                  <img id="pic" src="<%= result.picture.large %>" alt="" class="">
                              </div>
                              <div class="info">
                                  <!-- <h1><%= result.name.first %> <%= result.name.last %></h1> -->
                                  <hr>
                                  <p><%= result.bio %></p>
                                  <div class="m-5">
                                    <div class="d-flex flex-row">
                                        <p>First Name: </p>
                                        <p id ="first"><%= result.name.first %> </p>
                                    </div>
                                    <div class="d-flex flex-row">
                                        <p>Last Name: </p>
                                        <p id ="last"> <%= result.name.last %> </p>
                                    </div>
                                    <div class="d-flex flex-row">
                                        <p>Age: </p>
                                        <p id ="age"><%= result.dob.age %> </p>
                                    </div>
                                    <div class="d-flex flex-row">
                                        <p>City: </p>
                                        <p id="city"><%= result.location.city %> <p>
                                    </div>
                                    <div class="d-flex flex-row">
                                        <p>Country: </p>
                                        <p id="country"><%= result.location.country %> <p>
                                    </div>
                                    <div class="d-flex flex-row">
                                        <p>Gender: </p>
                                        <p id="gender"><%= result.gender%> </p>
                                    </div>
                                    <div class="d-flex flex-row">
                                        <p>Email: </p>
                                        <p id="email"><%= result.email %> </p>
                                    </div>
                                  </div>
                                    
                                  <form action="/like">
                                    <button type="submit" action="/liked_back">Like</button>
                                  </form>
                              </div>
                          </div>
                      </div>
                  </div>
          </tr>
          <% } %>
          <% }) %>
    </body>
      
      <script>
         function refreshPage() {
          location.reload();
          }

        function openModal(firstName, lastName, age, city, country, gender, pic, email) {
        document.getElementById('first').innerHTML = firstName;
        document.getElementById('last').innerHTML = lastName;
        document.getElementById('age').innerHTML = age;
        document.getElementById('city').innerHTML = city;
        document.getElementById('country').innerHTML = country;
        document.getElementById('gender').innerHTML = gender;
        document.getElementById('pic').src = pic;
        document.getElementById('email').innerHTML = email;

        const modal = document.getElementById('myModal');
          const closeButtons = document.querySelectorAll('.close');
          closeButtons.forEach(button => {
              button.addEventListener('click', function () {
                  const userId = this.getAttribute('data-user-id');
                  const modal = document.getElementById(`myModal`);
                  modal.style.display = 'none';
              });
          });
        modal.style.display = 'block';
    }



          // document.addEventListener('DOMContentLoaded', function () {
          //     const openModalButtons = document.querySelectorAll('.openModalBtn');
          //     const closeButtons = document.querySelectorAll('.close');
      
          //     openModalButtons.forEach(button => {
          //         button.addEventListener('click', function () {
          //             const userId = this.getAttribute('data-user-id');
          //             const modal = document.getElementById(`myModal_${userId}`);
          //             modal.style.display = 'block';
          //         });
          //     });
      
              closeButtons.forEach(button => {
                  button.addEventListener('click', function () {
                      const userId = this.getAttribute('data-user-id');
                      const modal = document.getElementById(`myModal_${userId}`);
                      modal.style.display = 'none';
                  });
              });
          // });
      </script>
      
    </table>
</table>

<div>
  <button onclick="refreshPage()">More Users</button>
</div>
  
</main>
<%- include ('../partials/footer') %>