<%- include ('../partials/background2') %> <%- include ('../partials/header') %> <%- include ('../partials/menu') %>

<div style="position: relative;" class="m-5">
    <main>
        <h4> Your matches:</h4>
        <hr>
        <form class = "formcontainer" action = "/liked_you" method="GET">
        
        <% data["matched_with"].forEach(result => { %>

            <h1><%= result.first_name %> <%= result.last_name %></h1>

        <% }) %>
        </form>
        <br>
        <br>
        <h4> People who liked your profile:</h4>
        <hr>
        <form class = "formcontainer" action = "/liked_back" method="GET">
            <% data["likes_you"].forEach(result => { %>

                <h1><%= result.first_name %> <%= result.last_name %></h1>

            <% }) %>
        
        
        </form>
        </main>
        
</div>

<%- include ('../partials/footer') %>